@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">E-cinema</h1>
    <br />
    <br />
    <a href="/Tickets/Index" class="btn btn-info">Buy a ticket</a>
</div>
